.no-button {
    border: none;
    background-color: inherit;
}

.pic-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-image: url("./watercolor_background.jpg");
}

.personal-card:hover {
    background-color: #cfe2f5;
    border-color: #cfe2f5 !important;
}